.header__main {
    background: url("../../asset/bg-bike.png");
    height: 92vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.header__main .wrapper {
    position: absolute;
    bottom: 300px;
    left: 100px;
}

.wrapper h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 400;
}

.wrapper span {
    color: var(--primary);
}

.wrapper p {
    color: #fff;
    font-size: 15px;
    margin: 20px 0;
    line-height: 1.8;
    width: 40%;
}

.wrapper button {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--primary);
    padding: 0.7rem 2.5rem;
    font-size: 14px;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}

.wrapper button:hover {
    background-color: var(--primary);
    color: black;
    transition: ease-in-out 0.4s;
}

/*__________________ Mobile Layout __________________*/

@media only screen and (max-width: 767px) {
    .wrapper p {
        width: 80%;
    }

    .header__main .wrapper {
        position: absolute;
        top: 100px;
        left: 70px;
    }
}